body {
  background-color: black;
}

.center {
  margin: 15%;
}

.btn-custom {
  padding-right: 25px;
}

.btn-custom1 {
  padding-right: 25px;
}

.border-outline {
  border-bottom: 1px solid white;
}

.cards {
  text-align: center;
  margin: 1%;
}

.card {
  margin: 20px;
}
