body {
  background-color: black;
  overflow-x: hidden;
}

li {
  margin-right: 2rem;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}

.center {
  margin: 15%;
}

.btn-custom {
  padding-right: 25px;
}

.btn-custom1 {
  padding-right: 25px;
}

.border-outline {
  border-bottom: 1px solid white;
}

.cards {
  text-align: center;
  margin: 1%;
}

.card {
  margin: 20px;
}

.icon {
  margin-right: 5rem;
}
