.align {
  align-items: center;
  justify-content: center;
}

.jumbotron {
  margin: 5rem;
  background-color: white;
}

.jumbotron-header {
  align-items: center;
  border-right: 1px solid #0A58BD;
}

.jumbotron-body {
  margin: 1rem;
}

.jumbotron-img {
  margin: 2rem;
  border-radius: 10px;
  width: 325px;
  height: 475px;
  object-fit: cover;
}

.border-custom {
  border-radius: 10px;
  display: border;
  border: 1px solid #0A58BD;
  box-shadow: 0 0 65px #0A58BD;
}

.title {
  font-size: 120%;
}
