.container {
  flex-wrap: wrap;
  min-width: 90%;
}

.search {
  align-items: flex-start;
}

.cards {
  align-items: flex-end;
}

.center {
  margin: 2%;
}

.cards {
  margin: 2%;
}

.above-text {
  font-size: 2rem;
  margin: 5px;
}

.error {
  padding: 5%;
}
